// Colors ------------------------

$black: #2f302d;
$green: #6ea225;
$white: #ffffff;
$gray: #aeaeae;
$blue: #145ebd;
$disable: #656565;
$card-bg: #252525;

//  Fonts ------------------------

$ubuntu: 'Ubuntu', sans-serif;
$montserrat: 'Montserrat', sans-serif;
