@import '../../../variables';
.btn {
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;

    &[disabled] {
        opacity: 0.2;
        cursor: auto;

        &:hover {
            background-color: $gray;
        }
    }
}
.big-button {
    padding: 0.5em 1.6em;
    margin-right: 10px;

    background-color: $gray;
    border: none;

    color: $white;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: $ubuntu;

    transition: all 0.2s linear;

    &:hover {
        background-color: $green;
    }
}

.small-button {
    margin-right: 10px;
    padding: 0.2em 0.6em;

    background-color: transparent;
    border: 2px solid $disable;

    font-size: 0.7rem;
    color: $disable;
    text-transform: uppercase;

    &._active {
        color: $green;
        border-color: $green;
    }

    &._fetch {
        color: $blue;
        border-color: $blue;
    }

    &:last-child {
        margin-right: 0;
    }
}
